


@media (max-width: 2560px) {
  #homePageHero {
      background-image: url('/img/hero1.png');
      background-repeat: no-repeat;
      background-attachment: initial;
  }
}

@media (max-width: 2560px) {
  #PageHero {
      background-image: url('/img/herostandard.png');
      background-repeat: no-repeat;
      background-attachment: initial;
  }
}

*, *:before, *:after {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}